
ence361/.DS_Store
ence361/.DS_Store
ence361/helifripmgroup10/
ence361/.DS_Store
*.png
*.pdf
*.JPG
*.png
.DS_Store
enme301/.DS_Store
enme301/assignment 3 - shaft/python/bearingCalcs.py
enmt301/.DS_Store
enmt301/IMU assignment/enmt301-imu-assignment-2021
enmt301/robocup/.DS_Store
enmt301/robocup/ENMT301ExampleArduinoCode2019/.DS_Store
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/.DS_Store
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Adafruit_NeoPixel/Adafruit_NeoPixel.cpp
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Adafruit_NeoPixel/Adafruit_NeoPixel.h
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Adafruit_NeoPixel/COPYING
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Adafruit_NeoPixel/examples/buttoncycler/buttoncycler.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Adafruit_NeoPixel/examples/simple/simple.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Adafruit_NeoPixel/examples/strandtest/strandtest.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Adafruit_NeoPixel/keywords.txt
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Adafruit_NeoPixel/README.md
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Adafruit_TCS34725/Adafruit_TCS34725.cpp
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Adafruit_TCS34725/Adafruit_TCS34725.h
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Adafruit_TCS34725/examples/colorview/colorview.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Adafruit_TCS34725/examples/colorview/processing/colorview/colorview.pde
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Adafruit_TCS34725/examples/tcs34725/tcs34725.pde
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Adafruit_TCS34725/README.md
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/DFRobot_BMP280/DFrobot_BMP280.cpp
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/DFRobot_BMP280/DFRobot_BMP280.h
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/DFRobot_BMP280/examples/config/config.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/DFRobot_BMP280/examples/read_data/read_data.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/DFRobot_BMP280/keywords.txt
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/DFRobot_BMP280/LICENSE
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/DFRobot_BMP280/README.md
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/DFRobot_BNO055/DFRobot_BNO055.cpp
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/DFRobot_BNO055/DFRobot_BNO055.h
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/DFRobot_BNO055/examples/config/config.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/DFRobot_BNO055/examples/imu_show/imu_show.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/DFRobot_BNO055/examples/interrupt/interrupt.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/DFRobot_BNO055/examples/readData/readData.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/DFRobot_BNO055/keywords.txt
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/DFRobot_BNO055/LICENSE
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/DFRobot_BNO055/README.md
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Herkulex/.DS_Store
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Herkulex/examples/.DS_Store
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Herkulex/examples/MEGA_one_motor_move_angle/MEGA_one_motor_move_angle.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Herkulex/examples/MEGA_Simple_led_green/MEGA_Simple_led_green.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Herkulex/examples/MEGA_two_motors_single_movements/MEGA_two_motors_single_movements.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Herkulex/examples/MEGA_two_motors_unison_movements/MEGA_two_motors_unison_movements.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Herkulex/examples/UNO_one_motor_move_angle/UNO_one_motor_move_angle.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Herkulex/examples/UNO_Simple_led_green/UNO_Simple_led_green.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Herkulex/examples/UNO_two_motors_single_movements/UNO_two_motors_single_movements.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Herkulex/examples/UNO_two_motors_unison_movements/UNO_two_motors_unison_movements.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Herkulex/Herkulex.cpp
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Herkulex/Herkulex.h
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Herkulex/keywords.txt
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Herkulex/SoftwareSerial.cpp
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Herkulex/SoftwareSerial.h
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Hx711/Hx711.cpp
enmt301/robocup/ENMT301ExampleArduinoCode2019/_ArduinoLibraries/Hx711/Hx711.h
enmt301/robocup/ENMT301ExampleArduinoCode2019/Colorview/Colorview.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/Encoder/Encoder.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/IMU_Aug2019/.DS_Store
enmt301/robocup/ENMT301ExampleArduinoCode2019/IMU_Aug2019/BM280_Config/BM280_Config.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/IMU_Aug2019/BM280_Config/DFrobot_BMP280.cpp
enmt301/robocup/ENMT301ExampleArduinoCode2019/IMU_Aug2019/BM280_Config/DFRobot_BMP280.h
enmt301/robocup/ENMT301ExampleArduinoCode2019/IMU_Aug2019/BM280_ReadData/BM280_ReadData.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/IMU_Aug2019/BM280_ReadData/DFrobot_BMP280.cpp
enmt301/robocup/ENMT301ExampleArduinoCode2019/IMU_Aug2019/BM280_ReadData/DFRobot_BMP280.h
enmt301/robocup/ENMT301ExampleArduinoCode2019/IMU_Aug2019/BNO055_Config/BNO055_Config.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/IMU_Aug2019/BNO055_Config/DFRobot_BNO055.cpp
enmt301/robocup/ENMT301ExampleArduinoCode2019/IMU_Aug2019/BNO055_Config/DFRobot_BNO055.h
enmt301/robocup/ENMT301ExampleArduinoCode2019/IMU_Aug2019/BNO055_IMUShow/BNO055_IMUShow.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/IMU_Aug2019/BNO055_IMUShow/DFRobot_BNO055.cpp
enmt301/robocup/ENMT301ExampleArduinoCode2019/IMU_Aug2019/BNO055_IMUShow/DFRobot_BNO055.h
enmt301/robocup/ENMT301ExampleArduinoCode2019/IMU_Aug2019/BNO055_ReadData/BNO055_ReadData.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/IMU_Aug2019/BNO055_ReadData/DFRobot_BNO055.cpp
enmt301/robocup/ENMT301ExampleArduinoCode2019/IMU_Aug2019/BNO055_ReadData/DFRobot_BNO055.h
enmt301/robocup/ENMT301ExampleArduinoCode2019/IRPosition/IRPosition.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/LimitSwitch/LimitSwitch.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/PingSimple/PingSimple.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/ServoDriveMotor/ServoDriveMotor.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/ServoKnob/ServoKnob.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/ServoMove/ServoMove.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/SmartServoID/SmartServoID.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/SmartServoMove/SmartServoMove.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/SmartServoMoveMulti/SmartServoMoveMulti.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/StepperMotor/StepperMotor.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/StepperMotorSequence/StepperMotorSequence.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/TOF/DFRobot_VL53L0X/DFRobot_VL53L0X.cpp
enmt301/robocup/ENMT301ExampleArduinoCode2019/TOF/DFRobot_VL53L0X/DFRobot_VL53L0X.h
enmt301/robocup/ENMT301ExampleArduinoCode2019/TOF/DFRobot_VL53L0X/example/vl53l0x/vl53l0x.ino
enmt301/robocup/ENMT301ExampleArduinoCode2019/TOF/DFRobot_VL53L0X/keywords.txt
enmt301/robocup/ENMT301ExampleArduinoCode2019/TOF/DFRobot_VL53L0X/README.md
enmt301/robocup/ENMT301ExampleArduinoCode2019/Weight/Weight.ino
enmt301/robocup/robocup_template-master-92a2dbb0f8ef245a3502e13501559b0d69cd5920/.DS_Store
enmt301/robocup/robocup_template-master-92a2dbb0f8ef245a3502e13501559b0d69cd5920/README
enmt301/robocup/robocup_template-master-92a2dbb0f8ef245a3502e13501559b0d69cd5920/robocup_template/motors.cpp
enmt301/robocup/robocup_template-master-92a2dbb0f8ef245a3502e13501559b0d69cd5920/robocup_template/motors.h
enmt301/robocup/robocup_template-master-92a2dbb0f8ef245a3502e13501559b0d69cd5920/robocup_template/return_to_base.cpp
enmt301/robocup/robocup_template-master-92a2dbb0f8ef245a3502e13501559b0d69cd5920/robocup_template/return_to_base.h
enmt301/robocup/robocup_template-master-92a2dbb0f8ef245a3502e13501559b0d69cd5920/robocup_template/robocup_template.ino
enmt301/robocup/robocup_template-master-92a2dbb0f8ef245a3502e13501559b0d69cd5920/robocup_template/sensors.cpp
enmt301/robocup/robocup_template-master-92a2dbb0f8ef245a3502e13501559b0d69cd5920/robocup_template/sensors.h
enmt301/robocup/robocup_template-master-92a2dbb0f8ef245a3502e13501559b0d69cd5920/robocup_template/weight_collection.cpp
enmt301/robocup/robocup_template-master-92a2dbb0f8ef245a3502e13501559b0d69cd5920/robocup_template/weight_collection.h
enme302/labs/comsol/wrench.mph
*.mph
*.gif
